html{
    background: #000;
    color: #fff;
}

header{
    display: flex;

    .menu{
        display: flex;
    }
}

.section{
    padding: 40px;

    &.start{
        h1{
            @include text-extra-large;
        }
    }

    &.about{
    }

    &.rules{
    }

    &.subscribe{
    }

}

footer{

}